:root {
  --background-color: #20202c;
  --primary-color: #eaeae4;
  --secondary-color: #009bff;
  --font-family-medium: var(--inter-medium);
  --font-family-regular: var(--inter-regular);
}

/* const black = "#20202C" */
/* const blue = "#009bff" */
/* const white = "#EAEAE4" */
/* const grey = "#F2F2F2" */
/* const interMedium = "Inter Medium" */
/* const interRegular = "Inter Regular" */

/* export default { */
/*   backgroundColor: black, */
/*   primaryColor: white, */
/*   secondaryColor: blue, */
/*   inactiveColor: grey, */
/*   fontFamilyMedium: interMedium, */
/*   fontFamilyRegular: interRegular, */
/* } */

/* export default { */
/*   xsmall: `(max-width: 320px)`, */
/*   small: `(max-width: 720px)`, */
/*   medium: `(min-width: 720px) and (max-width: 1024px)`, */
/*   large: `(min-width: 1024px) and (max-width: 1440px)`, */
/*   xlarge: `(min-width: 1440px) and (max-width: 1920px)`, */
/* } */

.mainContainer {
  background-color: var(--background-color) !important;
  color: var(--primary-color) !important;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

.internalContainer {
  max-width: 1660px;
  margin: auto;
  padding: 2rem;
  width: 100%;
}

a {
  text-decoration: none;
  box-shadow: none !important;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  :focus {
    outline: 0;
  }
}

html,
body {
  height: 100vh;
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
